{% extends 'base.html' %} {% load static %}
{% block title %} Payment Failed {% endblock %}
{% block content %}
<div style="display: flex; align-items: center; justify-content: center">
    <div id="form-internal-container">
        <img style="width: 10%; height: auto;" src="{% static '/images/redcross.png' %}" />
        <br>
        <br>
        <h2 class="text-white">Houston. We have a problem</h2>
        <br>
        <h5 class="text-white">Unfortunately your payment failed. Please try again. We've kept the transaction logged
            for
            our
            record keeping. If
            you continue to have problems please contact us at
            <a href="mailto:">email@email.com</a> quoting your Order ID
            number
            below
        </h5>
        <br>
        <h3 class="text-white">Order ID: {{ client_reference_id }}</h3>

    </div>
</div>

{% endblock %}