{% extends 'base.html' %} {% load static %}
{% block title %} Payment Successful {% endblock %}
{% block content %}s
<div style="display: flex; align-items: center; justify-content: center">
    <div id="form-internal-container">
        <img style="width: 10%; height: auto;" src="{% static '/images/greencheck.png' %}" />
        <br>
        <br>
        <h2 class="text-white">Great News!</h2>
        <br>
        <h5 class="text-white">Your payment is being processed. Please keep a note of your OrderID for the day of the
            match. If
            you have any queries please contact us at
            <a href="mailto:">email@email.com</a> quoting your Order ID
            number
            below
        </h5>
        <br>
        <h3 class="text-white">Order ID: {{ client_reference_id }}</h3>

    </div>
</div>

{% endblock %}