#app {
    background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html, body {

    background: #eee;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    overflow-x: hidden;
}


.wrapper {

    margin-top: 30px;
}

.card {

    border: 1px solid #eee;
    cursor: pointer;
}


.weight {

    margin-top: -65px;
    transition: all 0.5s;
}

.weight small {

    color: #acacac;
}

.buttons {
    padding: 10px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0;
}

.cart-button {
    height: 48px
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden;

}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}



.card:hover .buttons {

    opacity: 1;
}


.card:hover .weight {

    margin-top: 10px;
}

.card:hover {

    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
}

#logo {
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid white;
    border-width: 5px !important;
    background-color: white;
}